.footer {
    width: 100vw;
    background: rgba(94, 80, 161, 1);
    position: fixed;
    bottom: 0px;
    height: max-content;
}

.footer-container {
    padding-top: 70px;
    padding-bottom: 40px;
    padding-left: 150px;
    padding-right: 150px;
    /* width: fit-content; */
}

.footer-container p {
    color: #FFF;
}

.footer-container .text {
    color: #FFF;
    width: 381px;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    margin-top: 30px;
}

.footer-container hr {
    margin-top: 67px;
}

.footer-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

.footer-info .copyright {
    width: 80vw !important;
    /* color: bisque; */
    margin: 0px;
}

.footer-contact {
    display: flex;
    justify-content: flex-end !important;
    gap: 79px;
}

.footer-contact a {
    text-decoration: none;
    color: #FFF;
}

@media only screen and (max-width: 600px) {

    .footer-container {
        padding: 30px;
        /* padding-bottom: 0px; */
    }

    .footer-container .text {
        color: #FFF;
        width: 250px;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        margin-top: 10px;
    }

    .footer-container hr {
        margin-top: 30px;
    }

    .footer-info {
        margin-top: 15px;
        font-size: 12px;
    }

    .footer-contact {
        gap: 20px;
    }
}