.skill-tag {
    padding: 10px;
    background: rgba(251, 176, 23, 0.6);
    border: 2px solid #FBB017;
    border-radius: 4px;
    width: max-content;
    height: max-content;
    color: #FFF;
    font-weight: 600;
}