.textarea-container {
    display: flex;
    flex-direction: column;
}

.textarea-container label {
    margin-bottom: 5px;
    font-size: 14px;
    color: #9EA0A5;
    margin-left: 5px;
}

.textarea-container textarea {
    border: 1px solid #E2E5ED;
    border-radius: 4px;
    padding: 15px;
    width: 693px;
    height: 145px;
}

.textarea-container textarea::placeholder {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    /* color: #9EA0A5; */
}